.small_heading {
  color: white;
  font-size: 2.9rem;
  margin-left: 2rem;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear all;
  &:hover {
    color: rgb(0, 155, 160);
  }
}
.small_heading::before {
  content: '';
  display: inline-block;
  width: 0.4rem;
  background-color: rgb(24, 37, 39);
  border-radius: 1rem;
  position: absolute;
  height: 3rem;
  right: 19rem;
  top: 1rem;
}
