.card {
  padding: 1rem;
  overflow: hidden;
  width: 40rem;
  background: rgb(244, 244, 244);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.5s ease;
  img {
    margin-top: 3rem;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
  }
  span {
    font-family: 'YAFdJoNRMmU 0', _fb_, auto;
    color: black;
  }
  .small_content {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .author {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(29, 205, 141);
    font-family: 'YAFdJoNRMmU 0', _fb_, auto;
    font-size: 21.3333px;
    color: rgb(29, 205, 141);
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 25rem;
  }
  .small_content {
    font-size: 1.5rem !important;
    display: block;
    padding: 1rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 550px) {
  .card {
    width: 100%;
  }
}
