<!-- <codnebi-workspace-side-nav></codnebi-workspace-side-nav> -->

<section class="main_section">
  <div class="content">
    <div class="content_desc">
      <!-- <h5 class="small_heading">ცოდნის კაფე</h5> -->

      <span class="header_content"
        >ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე
        ცოდნის კაფე</span
      >
      <button class="learn_more_btn">გაიგე მეტი ჩვენს შესახებ</button>
    </div>
    <div class="img_container">
      <img clas="logo" src="../../../assets/logo.png" alt="" />
    </div>
  </div>
</section>

<section class="donate_section">
  <h1>
    This text block gives a brief overview of your company. Share your
    philosophy, vision, or mantra here.
  </h1>
  <button class="donate_btn">Donate</button>
</section>

<section class="blog_section">
  <h1>ბლოგები</h1>
  <div class="card-container">
    <codnebi-workspace-blog-card
      (click)="onBlogDetails($event)"
    ></codnebi-workspace-blog-card>
    <codnebi-workspace-blog-card
      (click)="onBlogDetails($event)"
    ></codnebi-workspace-blog-card>
    <codnebi-workspace-blog-card (click)="onBlogDetails($event)">
    </codnebi-workspace-blog-card>
  </div>

  <button class="more_blogs_btn" (click)="toBlogs()">მეტი სტატია</button>
</section>
