<section class="main_section">
  <div class="content">
    <div class="content_desc">
      <h5 class="small_heading">ცოდნის კაფე</h5>
      <span class="header_content"
        >ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე ცოდნის კაფე
        ცოდნის კაფე</span
      >
      <button class="learn_more_btn">გაიგე მეტი ჩვენს შესახებ</button>
    </div>
  </div>
</section>

<section class="donate_section">
  <h1>
    This text block gives a brief overview of your company. Share your
    philosophy, vision, or mantra here.
  </h1>
  <button class="donate_btn">Donate</button>
</section>

<section class="blog_section">
  <h1>ბლოგები</h1>
  <div class="card-container">
    <div class="card">
      <img alt="" src="../../assets/user.jpg" />
      <span class="small_content"
        >dnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa askdlmsald
        dnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa
        askdlmsalddnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa
        askdlmsald</span
      >
      <span class="author">- author: '111'</span>
    </div>
    <div class="card">
      <img alt="" src="../../assets/user.jpg" />
      <span class="small_content"
        >dnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa askdlmsald
        dnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa
        askdlmsalddnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa
        askdlmsald</span
      >
      <span class="author">- author: '111'</span>
    </div>
    <div class="card">
      <img alt="" src="../../assets/user.jpg" />
      <span class="small_content"
        >dnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa askdlmsald
        dnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa
        askdlmsalddnkasldmsaldmsal klsmdlasknmdf kansdmasld kmdsa
        askdlmsald</span
      >
      <span class="author">- author: '111'</span>
    </div>
  </div>

  <button class="more_blogs_btn">მეტი სტატია</button>
</section>
