// .main_section {
//     background-color: rgb(29, 205, 141)
// }
.main_section {
  width: 90%;
  margin: 5rem auto;
}

.content_desc {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .small_heading {
    font-size: 1.9rem;
  }
  span {
    font-size: 4rem;
    width: 53rem;
  }
}

h5,
span {
  color: white;
}

button {
  padding: 1rem;
  width: 25rem;
  border-radius: 2rem;
  border: 0;
  background: black;
  color: white;
  font-size: 16px;
  font-family: system-ui;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.blog_section {
  width: 100%;
  padding: 4rem;
  background: rgb(255, 255, 255);
  h1 {
    font-weight: 700;
    font-style: normal;
    color: rgb(29, 205, 141);
    text-decoration: none;
    font-size: 3.6rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .card {
    overflow: hidden;
    width: 35rem;
    background: rgb(244, 244, 244);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      transform: scale(1.1);
    }
    transition: all 0.5s ease;
    img {
      margin-top: 3rem;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      display: flex;
    }
    span {
      font-family: 'YAFdJoNRMmU 0', _fb_, auto;
      font-size: 18.6667px;
      color: black;
    }
    .small_content {
      display: block;
      text-align: center;
      padding: 1rem;
      line-height: 2.5rem;
    }
    .author {
      font-size: 1.5rem;
      font-weight: 700;
      color: rgb(29, 205, 141);
      font-family: 'YAFdJoNRMmU 0', _fb_, auto;
      font-size: 21.3333px;
      color: rgb(29, 205, 141);
      width: 100%;
      display: block;
      text-align: center;
      padding: 1rem;
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
}

// justify-content: center;

@media screen and (max-width: 810px) {
  .card-container {
    justify-content: center;
  }
  .content_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    h1 {
      font-size: 3rem;
    }
    span {
      font-size: 2rem;
      width: 30rem;
    }
  }
}
