h1 {
  font-size: 5rem;
  font-family: 'Brush Script MT', cursive;
}

.container {
  width: 80%;
  margin: 7rem auto;
  background: rgb(255, 255, 255);
  padding: 1rem;
  .author {
    font-size: 2rem;
  }
}
